/* montserrat-300 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/montserrat-v18-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/montserrat-v18-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/montserrat-v18-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/montserrat-v18-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/montserrat-v18-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/montserrat-v18-latin-300.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/montserrat-v18-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/montserrat-v18-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/montserrat-v18-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/montserrat-v18-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/montserrat-v18-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/montserrat-v18-latin-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-v18-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/montserrat-v18-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/montserrat-v18-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/montserrat-v18-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/montserrat-v18-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/montserrat-v18-latin-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/open-sans-v23-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v23-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v23-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans-v23-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v23-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v23-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("./fonts/open-sans-v23-latin-600italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v23-latin-600italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v23-latin-600italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/open-sans-v23-latin-600italic.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v23-latin-600italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v23-latin-600italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/open-sans-v23-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v23-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v23-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans-v23-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v23-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v23-latin-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #424242;
  background-color: #e5e5e5;
}

.container {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 75vw;
  background-color: #fff;
  box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}

/*header start*/
.header {
  padding: 14px 26px;
  font-family: 'Montserrat', sans-serif;
  background-color: #fd7900;
}
/*nav start*/
.nav {
  display: flex;
  align-items: flex-end;
}

.nav__icon {
  margin-right: 12px;
  height: 24px;
  width: 24px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 8px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item-link {
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.nav__item-link:hover {
  color: #424242;
}
/*nav end*/
/*header end*/

.container-grid {
  margin: 30px;
  margin-top: 16px;
  display: grid;
  grid-template-columns: 3fr 6fr;
  grid-column-gap: 20px;
}

/*content start*/
.line-between {
  margin-bottom: 20px;
  border: 0.5px solid rgba(66, 66, 66, 0.2);
}

.line-between:last-child {
  margin-bottom: 0;
}

.dotted-headline {
  margin-bottom: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.dotted-headline::before {
  margin-right: 10px;
  vertical-align: text-top;
  content: "•";
}

.dotted-headline::after {
  margin-left: 10px;
  vertical-align: text-top;
  content: "•";
}
/*about-me start*/
.about-me {
  margin-bottom: 16px;
}

.about-me__subtitle {
  color: #7e7e7e;
}
/*about-me end*/
/*education start*/
.education {
  margin-bottom: 16px;
}

.education__org-name {
  margin-bottom: 4px;
  font-weight: bold;
  color: #7e7e7e;
}

.education__sphere-name {
  margin-bottom: 4px;
}

.education__date-place {
  color: #7e7e7e;
}
/*education end*/
/*courses start*/
.courses {
  margin-bottom: 16px;
}

.courses__item {
  margin-bottom: 4px;
}

.courses__item::before {
  margin-right: 2px;
  content: "—";
}

.course__link {
  color: #424242;
  text-decoration: none;
}

.course__link:hover {
  opacity: .75;
}
/*courses end*/
/*code-example start*/
.code-example {
  margin-bottom: 16px;
}

.code-example__subtitle {
  margin-bottom: 14px;
  color: #7e7e7e;
}

.code-example__link {
  color: #424242;
  text-decoration: none;
}
/*code-example end*/
/*projects start*/
.projects {
  margin-bottom: 16px;
}

.projects__item {
  margin-bottom: 20px;
}

.projects__item-img {
  width: 65%;
  box-shadow: 10px 10px 10px -1px rgb(0 0 0 / 20%);
  transition: all .5s ease-out;
}

.projects__item-img:hover {
  transform: scale(1.05);
}
/*projects end*/
/*content end*/

/*add-info start*/
.add-info {
  padding: 20px;
  background-color: #ffe6cf;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.add-info__container-avatar {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 16px;
  height: 200px;
  width: 200px;
  border: 16px solid #fff;
  border-radius: 50%;
}

.add-info__avatar {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.add-info__title {
  margin-bottom: 4px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.add-info__surname {
  font-weight: bold;
}

.add-info__subtitle {
  margin-bottom: 24px;
  text-align: center;
}

.headline {
  padding: 6px;
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background-color: #424242;
}
/*contacts start*/
.contacts {
  margin-bottom: 32px;
}

.contacts__item {
  margin-bottom: 14px;
  display: flex;
  letter-spacing: 0.04em;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__icon {
  margin-right: 12px;
  height: 16px;
  width: 16px;
}

.contacts__link {
  color: #424242;
  text-decoration: none;
}

.contacts__link:hover {
  opacity: .75;
}
/*contacts end*/
/*skills start*/
.skills {
  margin-bottom: 32px;
}

.skills__item {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.04em;
}

.progress-bar {
  height: 8px;
  width: 45%;
  background-color: #7e7e7e;
}

.progress {
  height: 8px;
  background-color: #fd7900;
}
/*skills end*/
/*applications start*/
.applications {
  margin-bottom: 32px;
  counter-reset: section;
}

.applications__item {
  margin-bottom: 14px;
  letter-spacing: 0.04em;
}

.applications__item::before {
  margin-right: 6px;
  font-weight: 700;
  counter-increment: section;
  content: counter(section);
}
/*applications end*/
/*languages start*/
.languages__item {
  margin-bottom: 14px;
  letter-spacing: 0.04em;
}

.languages__item::before {
  content: "—";
}

.languages__descr {
  font-weight: 700;
}

.languages__link {
  color: #424242;
  text-decoration: none;
}
/*languages end*/
/*add-info end*/

/*footer start*/
.footer {
  padding: 14px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #fd7900;
}

.footer__link {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
}

.footer__icon {
  margin-right: 10px;
  height: 26px;
  width: 26px;
}

.footer__text {
  font-weight: 600;
}

.footer__text:hover {
  color: #424242;
}

.footer__date {
  font-weight: 600;
  color: #000;
}

.footer__logo {
  width: 86px;
}
/*footer end*/

@media screen and (max-width: 1020px) {
  .container {
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
    width: 100vw;
    box-shadow: none;
  }
  
  .container-grid {
    margin: 0;
    display: block;
  }

  .add-info {
    border-radius: 0;
    margin-bottom: 20px;
  }

  .content {
    padding: 0 20px;
  }

  .line-between:first-child,
  .line-between:last-child {
    display: none;
  }

  .dotted-headline {
    text-align: center;
  }

  .projects__item {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .footer__link {
    font-size: 14px;
  }

  .footer__logo {
    width: 66px;
  }
}
